<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

<style>
.images{

    display: flex;
    height: 100vh;
    justify-content: center;

    align-items: center;
    

    
}

#img{
display: flex;
    margin-left: 600px;
    margin-top: -675px;
   position: relative;
   display: none;
}


</style>

</head>
<body>

    <h1>pandi</h1>


{% load static %}

<div class="images"><img src="{% static 'images/user-min.png' %}"  width="400px" height="400px"  class="img" alt="">
    <button  id="hat">hat for shiva</button>
</div>

    <img src="{% static 'images/—Pngtree—cute colorful jester hat decoration_4546589.png' %}"  width="200px" height="150px"  id="img" alt="">



    <script>


        const hat=document.getElementById("img")
        const showhat=document.getElementById("hat")
        showhat.addEventListener("click",()=>{
            if(hat.style.display==="none"){
            hat.style.display="block";
            showhat.innerHTML="hide siva"
            }
            else{
              hat.style.display="none"
              showhat.innerHTML="show siva"
            }
        })
        

    </script>


</body>

</html>


